.component {
    background: #FFFFFF;
    color: black;
  }
  
  .container {
    justify-content: center;
  }
  
  .container a {
    padding: 20px;
    color: #000;
    text-decoration: none;
  }
  


.image {
    width: 100%;
    background: url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg) center/55% repeat-x #000;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .heading {
    font-size: 70px;
    color: #FFFFFF;
    line-height: 1;
  }
  
  .sub-heading {
    font-size: 20px;
    background: #FFFFFF;
  }

  .post-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .post {
    margin: 13px;
    border: 1px solid #d3cede;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 288px;
    overflow: hidden;
  }
  
  .post-link {
    text-decoration: none;
    color: inherit;
  }
  
  .post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .post-details {
    padding: 10px;
  }
  
  .post-category {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .post-author {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .post-description {
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .no-posts {
    color: #878787;
    margin: 30px 80px;
    font-size: 18px;
  }
  
